.container{
    max-width: 990px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(236, 236, 236);
}
.containerInfos{
    display: flex;
}
.containerSimulator .infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
}
.containerSimulator .infos form{
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-bottom: 10px;
}
.containerSimulator .infos form .tipos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerSimulator .infos form .tipos div{
    width: 200px;
}
h1{
    text-align: center;
}
h3{
    margin: 12px 0;
}
p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 10px 0;
}
.active{
    background-color: #ED8E53;
    color: #FFF;
}
.selectButton{
    display: flex;
}
.selectButton  div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 65px;
    height: 36px;

    border: 1px solid rgb(59, 59, 59);
    cursor: pointer;
}
.selectButton div:first-child{
    border-radius: 8px 0 0 8px;
}
.selectButton div:last-child{
    border-radius: 0 8px 8px 0;
}
label{
    width: 200px;
    margin: 18px 0;
    height: 60px;
}
span{
    position: absolute;
    height: 50px;

    display: flex;
    align-items: center;
    font-size: 14px;
}
span > input{
    position: relative;
    right: 15px;
    padding-left: 20px;
}
input{
    width: 100%;
    font-size: 14px;
    background: none;
    padding: 10px 0;

    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
button{
    cursor: pointer;
    width: 200px;
    font-weight: bold;

    padding: 10px;
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 8px;
}
button.active{
    color: #000;
    border-color: #ED8E53;
}

@media (max-width: 840px){
    .container{
        margin: 0 auto;
        height: 100vh;
        padding: 0;
    }
    .containerInfos{
        flex-direction: column;
        background-color: rgb(236, 236, 236);
    }
    .containerSimulator .infos{
        margin: auto;
    }
}
@media (max-width: 560px){
    .containerSimulator .infos{
        
        width: auto;
    }
    .containerSimulator .infos form{
        width: 200px;
        margin: auto;
    }
    .containerSimulator .infos form .tipos{
        flex-direction: column;
    }
}